{{!-- Extensão do layout --}}
{{!-- O layout deve ser definido em outro arquivo, por exemplo, layout.hbs --}}

{{!-- Bloco de conteúdo --}}
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>